$black: #000;
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 125, 215, 0);
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 80px;
  border: 1px solid;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      text-decoration: none;
      list-style-type: none;
      padding: 20px;

      .link {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 40px;
        text-shadow: 2px 3px 2px rgba($black, 0.18);
      }
      .logo {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        img {
          width: 90px;
          height: 50px;
        }
      }
    }
  }
}
